<h3>Progress Spinner Configuration</h3>

<section class="example-section">
  <label class="example-margin">Color:</label>
  <mat-radio-group [(ngModel)]="color">
    <mat-radio-button class="example-margin" value="primary">
        Primary
    </mat-radio-button>
    <mat-radio-button class="example-margin" value="accent">
        Accent
    </mat-radio-button>
    <mat-radio-button class="example-margin" value="warn">
        Warn
    </mat-radio-button>
  </mat-radio-group>
</section>

<section class="example-section">
  <label class="example-margin">Mode:</label>
  <mat-radio-group [(ngModel)]="mode">
    <mat-radio-button class="example-margin" value="determinate">
        Determinate
    </mat-radio-button>
    <mat-radio-button class="example-margin" value="indeterminate">
        Indeterminate
    </mat-radio-button>
  </mat-radio-group>
</section>

<section class="example-section" *ngIf="mode === 'determinate'">
  <label class="example-margin">Progress:</label>
  <mat-slider class="example-margin" [(ngModel)]="value"></mat-slider>
</section>

<h3>Result</h3>

<mat-progress-spinner
    class="example-margin"
    [color]="color"
    [mode]="mode"
    [value]="value">
</mat-progress-spinner>

<h3>Overlay Progress Spinner</h3>

<section class="example-section">
  <label class="example-margin">Seconds to remain inactive:</label>
  <mat-slider class="example-margin" min="1" max="5" step="1" tickInterval="1" [(ngModel)]="waitTime"></mat-slider> {{ waitTime }} s
  <button mat-raised-button color="accent" class="example-margin" (click)="showProgressSpinnerOverlay()">Show</button>
</section>