<p>
    Hello, I created this project to use it as a base for all my Angular + Electron + Material Design projects
    and for everyone else who wants to use it.
</p>
<p>
    This project is a fork of <a mat-button color="accent" href="https://github.com/maximegris/angular-electron" target="_blank" class="button-without-padding">https://github.com/maximegris/angular-electron</a>.
    I rely on the Angular Electron project for setting up Angular and Electron,
    in this fork I merely add the integration with Material Design.
</p>
<p>
    Check out <a mat-button color="accent" href="https://material.angular.io/" target="_blank" class="button-without-padding">https://material.angular.io/</a>
    for the latest version of the Material Design components.
</p>
<p>
    The icons are taken from <a mat-button color="accent" href="https://materialdesignicons.com/" target="_blank" class="button-without-padding">https://materialdesignicons.com/</a>.
</p>
