<p class="mat-body">
    Hello, I created this project to use it as a base for all my Angular + Electron + Material Design projects
    and for everyone else who wants to use it.
</p>
<p class="mat-body">
    This project is a fork of <a mat-button color="accent" href="https://github.com/maximegris/angular-electron" target="_blank">https://github.com/maximegris/angular-electron</a>.
    I rely on the Angular Electron project for setting up Angular and Electron,
    in this fork I merely add the integration with Material Design.
</p>
<p class="mat-body">
    Check out <a mat-button color="accent" href="https://material.angular.io/" target="_blank">https://material.angular.io/</a>
    for the latest version of the Material Design components.
</p>
<p class="mat-body">
    The icons are taken from <a mat-button color="accent" href="https://materialdesignicons.com/" target="_blank">https://materialdesignicons.com/</a>.
</p>
