<p class="mat-body">
    Hello, I created this project to use it as a base for all my Angular/Electron/Material Design projects
    and for everyone else who wants to use it.
</p>
<p class="mat-body">
    This project is a fork of <a href="https://github.com/maximegris/angular-electron" target="_blank">https://github.com/maximegris/angular-electron</a>.
    I rely on the Angular Electron project for setting up Angular and Electron,
    in this fork I merely add the integration with Material Design.
</p>
