<div>
    <mat-icon svgIcon="arrow-left-bold-outline" matTooltip="left tooltip" matTooltipPosition="left"></mat-icon>
    <mat-icon svgIcon="arrow-up-bold-outline" matTooltip="above tooltip" matTooltipPosition="above"></mat-icon>
    <mat-icon svgIcon="arrow-right-bold-outline" matTooltip="right tooltip" matTooltipPosition="right"></mat-icon>
</div>
<div>
    <mat-icon svgIcon="arrow-left-bold-outline" matTooltip="before tooltip" matTooltipPosition="before"></mat-icon>
    <mat-icon svgIcon="arrow-down-bold-outline" matTooltip="below tooltip" matTooltipPosition="below"></mat-icon>
    <mat-icon svgIcon="arrow-right-bold-outline" matTooltip="after tooltip" matTooltipPosition="after"></mat-icon>
</div>
