@import '~@angular/material/theming';
@import 'custom-theme-function.scss';

$custom-primary-colour: (
    50 : #f6faf5,
    100 : #e9f3e5,
    200 : #dbebd4,
    300 : #cce3c2,
    400 : #c1ddb5,
    500 : #b6d7a8,
    600 : #afd3a0,
    700 : #a6cd97,
    800 : #9ec78d,
    900 : #8ebe7d,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #e7ffde,
    A700 : #d4ffc4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$custom-primary: mat-palette($custom-primary-colour);

$custom-accent-colour: (
    50 : #e0f3f3,
    100 : #b3e0e0,
    200 : #80cccc,
    300 : #4db8b8,
    400 : #26a8a8,
    500 : #009999,
    600 : #009191,
    700 : #008686,
    800 : #007c7c,
    900 : #006b6b,
    A100 : #9affff,
    A200 : #67ffff,
    A400 : #34ffff,
    A700 : #1affff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$custom-accent: mat-palette($custom-accent-colour);

$custom-warn-colour: (
    50 : #fbeded,
    100 : #f6d1d1,
    200 : #f0b3b3,
    300 : #e99494,
    400 : #e57d7d,
    500 : #e06666,
    600 : #dc5e5e,
    700 : #d85353,
    800 : #d34949,
    900 : #cb3838,
    A100 : #ffffff,
    A200 : #ffe2e2,
    A400 : #ffafaf,
    A700 : #ff9696,
    contrast: (
        50 : #003300,
        100 : #003300,
        200 : #003300,
        300 : #003300,
        400 : #003300,
        500 : #003300,
        600 : #003300,
        700 : #ccffcc,
        800 : #ccffcc,
        900 : #ccffcc,
        A100 : #003300,
        A200 : #003300,
        A400 : #003300,
        A700 : #003300,
    )
);

$custom-warn: mat-palette($custom-warn-colour);

$custom-background: (
  status-bar: #003300,
  app-bar:     #004400,
  background: #002200,
  hover:      rgba(lightgreen, 0.04),
  card:       #005500,
  dialog:     #005500,
  disabled-button: rgba(lightgreen, 0.12),
  raised-button: #005500,
  focused-button: rgba(lightgreen, 0.12),
  selected-button:  #004400,
  selected-disabled-button:  #005500,
  disabled-button-toggle: #003300,
  unselected-chip: #006600,
  disabled-list-option: #003300,
);

$custom-foreground: (
  base:              lightgreen,
  divider:           rgba(lightgreen, 0.12),
  dividers:          rgba(lightgreen, 0.12),
  disabled:          rgba(lightgreen, 0.5),
  disabled-button:   rgba(lightgreen, 0.3),
  disabled-text:     rgba(lightgreen, 0.5),
  hint-text:         rgba(lightgreen, 0.5),
  secondary-text:    rgba(lightgreen, 0.7),
  icon:              lightgreen,
  icons:             lightgreen,
  text:              lightgreen,
  slider-min:        lightgreen,
  slider-off:        rgba(lightgreen, 0.3),
  slider-off-active: rgba(lightgreen, 0.3),
);

$custom-theme: custom-theme($custom-primary, $custom-accent, $custom-warn, $custom-foreground, $custom-background);