<mat-icon svgIcon="clock-time-twelve"></mat-icon>
<mat-icon svgIcon="clock-time-one"></mat-icon>
<mat-icon svgIcon="clock-time-two"></mat-icon>
<mat-icon svgIcon="clock-time-three"></mat-icon>
<mat-icon svgIcon="clock-time-four"></mat-icon>
<mat-icon svgIcon="clock-time-five"></mat-icon>
<mat-icon svgIcon="clock-time-six"></mat-icon>
<mat-icon svgIcon="clock-time-seven"></mat-icon>
<mat-icon svgIcon="clock-time-eight"></mat-icon>
<mat-icon svgIcon="clock-time-nine"></mat-icon>
<mat-icon svgIcon="clock-time-ten"></mat-icon>
<mat-icon svgIcon="clock-time-eleven"></mat-icon>
<mat-icon svgIcon="clock-time-twelve"></mat-icon>
<br/>
<mat-icon svgIcon="emoticon-cry-outline"></mat-icon>
<mat-icon svgIcon="emoticon-sad-outline"></mat-icon>
<mat-icon svgIcon="emoticon-confused-outline"></mat-icon>
<mat-icon svgIcon="emoticon-neutral-outline"></mat-icon>
<mat-icon svgIcon="emoticon-happy-outline"></mat-icon>
<mat-icon svgIcon="emoticon-wink-outline"></mat-icon>
<br/>
<mat-icon svgIcon="weather-partly-cloudy"></mat-icon>
<mat-icon svgIcon="weather-partly-lightning"></mat-icon>
<mat-icon svgIcon="weather-lightning-rainy"></mat-icon>
<mat-icon svgIcon="weather-rainy"></mat-icon>
<mat-icon svgIcon="weather-pouring"></mat-icon>
<mat-icon svgIcon="weather-partly-rainy"></mat-icon>
<mat-icon svgIcon="weather-sunny"></mat-icon>
