//adding multiple themes as explained at https://stackoverflow.com/questions/47441036/switch-themes-in-angular-material-5
//colours taken from https://material.io/design/color/the-color-system.html
@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

$light-theme-primary: mat-palette($mat-teal);
$light-theme-accent: mat-palette($mat-indigo);
$light-theme-warn: mat-palette($mat-red);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$light-theme: mat-light-theme(
    $light-theme-primary,
    $light-theme-accent,
    $light-theme-warn
);

$dark-theme-primary: mat-palette($mat-pink);
$dark-theme-accent: mat-palette($mat-lime);
$dark-theme-warn: mat-palette($mat-red);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$dark-theme: mat-dark-theme(
    $dark-theme-primary,
    $dark-theme-accent,
    $dark-theme-warn
);

//default theme
@include angular-material-theme($dark-theme);

//styles for the scrollbar -->
/* width */
::-webkit-scrollbar {
    width: 8px; //for vertical scrollbars
    height: 8px; //for horizontal scrollbars
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; //this appears not to be reset when the style is reset
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey; //this appears not to be reset when the style is reset
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darkgrey; //this appears not to be reset when the style is reset, darkgrey #A9A9A9 is lighter than grey #808080
}
//<-- styles for the scrollbar

.light-theme {
    @include angular-material-theme($light-theme);

    //styles for the scrollbar -->
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 2px mat-color($light-theme-accent, 600);
        border-radius: 4px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: mat-color($light-theme-accent);
        border-radius: 4px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: mat-color($light-theme-accent, 400);
    }
    //<-- styles for the scrollbar

    //the datepicker styles do not work if placed in the component scss, it has to be placed here
    .example-custom-date-class {
        background: mat-color($light-theme-accent);
        border-radius: 100%;
    }
}

.dark-theme {
    @include angular-material-theme($dark-theme);

    //styles for the scrollbar -->
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 2px mat-color($dark-theme-accent, 400);
        border-radius: 4px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: mat-color($dark-theme-accent);
        border-radius: 4px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: mat-color($dark-theme-accent, 600);
    }
    //<-- styles for the scrollbar

    //the datepicker styles do not work if placed in the component scss, it has to be placed here
    .example-custom-date-class {
        background: mat-color($dark-theme-accent);
        border-radius: 100%;
    }
}



.button-without-padding {
    padding: 0px !important;
}

.bottom-sheet {
  width: calc(100vw - 16px);
  min-width: calc(100vw - 16px) !important;
  max-width: calc(100vw - 16px) !important;
}



//theming below is for icons, see https://dev.materialdesignicons.com/getting-started/angular
button.mat-menu-item {
  line-height: 24px !important;
}

a.mat-menu-item > mat-icon {
  margin-bottom: 14px;
}

/* do NOT enable this, otherwise the icons in a formfield are broken!  Check the page /input
.mat-icon svg {
  height: 24px;
  width: 24px;
}
*/

.mat-step-icon-content .mat-icon svg {
  height: 100%;
  width: 100%;
}